   <!-- INICIO Educacion -->
   <section class="educacion">
    <h2>Educación</h2>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-left">
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
          <label class="list-group-item rounded-3 py-3 lista" for="listGroupCheckableRadios2">
            Ingenieria en Sistemas de Información <br>
            2017-2023 <br>
            Universidad Tecnológica Nacional Facultad Reginal Mendoza
          </label>
          <label class="list-group-item rounded-3 py-3 lista" for="listGroupCheckableRadios2">
            Educación Secundaria <br>
            2007-2012 <br>
            Colegio Córazon de Maria
          </label>
        </div>
      </div>
</section>
<!-- FIN Educacion -->
