   <!-- INICIO Experiencias -->
   <section class="experiencia">
    <h2>Experiencia</h2>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-left">
        <div class="list-group list-group-checkable d-grid gap-2 border-0">
          <label class="list-group-item rounded-3 py-3 lista" for="listGroupCheckableRadios2">
            Desarrollador Fullstack Jr. <br>
            2020-2022 <br>
            Globant
            <span class="d-block small opacity-50">Desarrollo de aplicaciones móviles para clientes.</span>
          </label>
        </div>
      </div>
</section>
<!-- FIN Experiencias -->
