    <!-- INICIO Proyectos -->
    <section class="proyectos">
        <h2>Proyectos</h2>
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="../../../assets/bscg.png" class="card-img-top img-fluid" alt="BSCG">
                    <div class="card-body">
                      <h5 class="card-title">Blockchain Smart Contract Governance (2022)</h5>
                      <p class="card-text">Proyecto Final de la Carrera de Ingeniería en Sistemas que consistió en el análisis, diseño, desarrollo e implementación de un sistema de gestión de convenios a través de contratos inteligentes basados en blockchain utilizando una interface de sistema web, desarrollado con el framework React y lenguaje Solidity para contratos inteligentes.</p>
                      <a href="https://drive.google.com/file/d/11uIrhSgRg1BvhEc8qJqBqyk-dBWBsEry/view?usp=share_link" class="btn btn-dark">Investigación</a>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../../../assets/logo-argpro.png" class="card-img-top img-fluid bg-black" alt="PortafolioWeb">
                    <div class="card-body">
                      <h5 class="card-title">Portafolio Web</h5>
                      <p class="card-text">Portafolio Web personal desarrollado para el curso de Argentina Programa.</p>
                      <a href="#" class="btn btn-dark">Sitio Web</a>
                    </div>
                  </div>
            </div>
        </div>
        
    </section>
    <!-- FIN Proyectos -->
